%div.results
  - if @rooms_searched.present?
    %h2 Rooms available from criteria
    - @rooms = @rooms_searched
  - else
    %h2 Available today

  - if @rooms.present?
    = form_tag new_reserved_room_path, method: :get do
      %table
        %tr
          %th Room Name
          %th View Type
          %th Room Type
          %th Price (CAD)
          %th Selected

        - @rooms.each do |room|
          %tr
            %td= room.name
            %td= room.view_type.name
            %td= room.room_type.name
            %td= "#{room.base_rate.rate}" + " $"
            %td= check_box_tag 'room_ids[]', room.id
      = label_tag "Choose client: "
      = select_tag 'client_id', options_from_collection_for_select(Client.all, "id", :full_name, params[:client_id]), include_blank: true
      = link_to "Not in the list?", new_client_path
      = hidden_field_tag "date_in", params[:date_in]
      = hidden_field_tag "date_out", params[:date_out]
      %br/
      = submit_tag "Reserve"
  - else
    %h3 Sorry, no available rooms