.needs-validation

  %h3 Search for available rooms
  = form_tag reserved_rooms_path, method: :get, class: "form-group", remote: true do
    %div.form-inline.form-group
      %div.form-inline
        = label_tag "Number of rooms: "
        = text_field_tag :nb_rooms, params[:nb_rooms], id:"nb_rooms", class: "form-control", type: "number", min: "1", onchange: "showContiguous(this.value);", required: true
      %div.form-inline.form-check.d-none
        = label_tag "Contiguous rooms: "
        = check_box_tag :contiguous, params[:contiguous], false, class: "form-check-input", type: "checkbox"
    %div.form-inline.form-group
      %div.form-inline
        = label_tag "Check In: "
        = text_field_tag :date_in, params[:date_in], type: "date", class: "form-control", required: true, id: "date_in", onchange: "beforeToday('#{Date.current}')"
        %div.invalid-feedback
          Check In date can not be before today
      %div.form-inline
        = label_tag "Check Out: "
        = text_field_tag :date_out, params[:date_out], type: "date", class: "form-control", required: true, id: "date_out", onchange: "validateDate(this.value)"
        %div.invalid-feedback
          Check Out date cannot be before Check In date
    %div.form-inline.form-group
      %div.form-inline
        = label_tag "Type of View: "
        = select_tag :view_type_id, options_from_collection_for_select(ViewType.all, "id", "name", params[:view_type_id]), include_blank: true, class: "form-control"
      %div.form-inline
        = label_tag "Type of Room"
        = select_tag :room_type_id, options_from_collection_for_select(RoomType.all, "id", "name", params[:room_type_id]), include_blank: true, class: "form-control"
      
    = submit_tag "Search", class: "btn btn-primary", id: "search"



