.container
  %h1 Reserving rooms

  = form_tag action: :create , class: "form-group" do
    = label_tag "Client: "
    = @client.full_name
    = hidden_field_tag :client_id, @client.id

    %br/
    = label_tag "Reservation from"
    = @reservation.date_in
    = hidden_field_tag :date_in, params[:date_in]
    = label_tag "to"
    = @reservation.date_out
    = hidden_field_tag :date_out, params[:date_out]
    %br/
    %table.table.table-hover
      %thead.table-primary
        %tr
          %th Room Name
          %th View Type
          %th Room Type
          %th Price
      %tbody
        - @rooms.each do |room|
          %tr
            %td= room.name
            %td= room.view_type.name
            %td= room.room_type.name
            %td= number_to_currency(room.rate, unit: "CAD$", format: "%n %u")
            %td.d-none= check_box_tag 'room_ids[]', room.id, value: true
    .form-group
      = label_tag "Demands: "
      = text_area_tag :demands, params[:demands], cols: 30, row: 5, class: "form-control"

    = submit_tag "Confirm", class: "btn btn-primary"