.container-fluid
  %h2 Listing clients
  %table.table.table-hover
    %thead.table-primary
      %tr
        %th First Name
        %th Last Name
        %th Email
        %th
        %th
    %tbody
      - @clients.each do |client|
        %tr
          %td= client.first_name
          %td= client.last_name
          %td= client.email
          %td= link_to 'Show', client
          %td= link_to 'Edit', edit_client_path(client)

  = link_to 'New Client', new_client_path