%p#notice= notice
%p
  %b First Name:
  = @client.first_name
%p
  %b Last Name:
  = @client.last_name
%p
  %b Email:
  = @client.email

- if @client.reservations.any?
  %h2 Reservations
  = render @client.reservations

= link_to 'Edit', edit_client_path(@client)
|
= link_to 'Back', clients_path