.container-fluid
  %h1 Billing details of #{@client.first_name}'s reservation
  %br/
  %h2 Rooms reserved
  - @reserved_rooms.each do |reserved_room|
    %p
      %b Room name:
      = reserved_room.name
    %p
      %b View Type:
      = reserved_room.room.view_type.name
    %p
      %b Room Type:
      = reserved_room.room.room_type.name
    %table.table.table-hover
      %thead.table-primary
        %tr
          %th Date
          %th Base Rate
          %th Day Rate
          %th Season Rate
          %th Total
      %tbody
        - (0..@reservation.duration-1).each do |i|
          %tr
            %td= (@reservation.date_in + i).strftime("%a, %m-%d-%Y")
            %td= number_to_currency(reserved_room.rate, unit: "CAD$", format: "%n %u")
            %td= number_to_percentage(@applied_days[i][0].rate * 100, precision: 0)
            %td= @applied_seasons[i].map{|season| season.name + ": " + number_to_percentage(season.rate * 100, precision: 0)}.join(", ")
            %td= number_to_currency((@applied_seasons[i].map{|season| season.rate}.sum + @applied_days[i][0].rate) * reserved_room.rate + reserved_room.rate, unit: "CAD$", format: "%n %u")
      %tfoot.table-primary
        %tr
          %th Grand Total
          %td
          %td
          %td
          %td= number_to_currency(Billing.calculate_room(reserved_room),unit: "CAD$", format: "%n %u")
  %br/
  %h2 Total amount: #{number_to_currency(@billing.total_amount, unit: "CAD$", format: "%n %u")}

