%h1 Business Report of today

%table
  %tr
    %th Room Name
    %th View Type
    %th Room Type
    %th Price (CAD)

  - @rooms.each do |room|
    %tr
      %td= room.name
      %td= room.view_type.name
      %td= room.room_type.name
      %td= "#{room.base_rate.rate}" + " $"

%br/
= label_tag "Occupancy rate (%): "
= @occupancy_rate