.container
  %h1 Business Report of today

  %table.table.table-hover
    %thead.table-primary
      %tr
        %th Room Name
        %th View Type
        %th Room Type
        %th Price
        %th Cleanup today?

    - @reserved_rooms.each do |reserved_room|
      %tr
        %td= reserved_room.name
        %td= reserved_room.view_type.name
        %td= reserved_room.room_type.name
        %td= number_to_currency(Billing.calculate_room_date(reserved_room, Date.current), unit: "CAD$", format: "%n %u")
        %td= reserved_room.clean_up ? "Yes" : "No"
  %br/
  = label_tag "Occupancy rate: "
  = number_to_percentage(@occupancy_rate, precision: 2)

  %br/
  = label_tag "Revenue: "
  = number_to_currency(@revenue, unit: "CAD$", format: "%n %u")

