%h1 New reservation
= form_tag new_reservation_path, method: :get do
  = label_tag "Choose client: "
  = select_tag :client_id, options_from_collection_for_select(Client.all, "id", :full_name, params[:client_id]), include_blank: true, :onchange => 'this.form.submit();'
  = link_to "Not in the list?", new_client_path
  %br/
  - @room_ids.each do |room_id|
    = text_field_tag ':room_ids[]', room_id

- if params[:client_id].present?
  - @client = Client.find(params[:client_id])
  - @room_ids = params[:room_ids].collect {|id| id.to_i}
  = render 'form_client'

= link_to 'Back', reservations_path