%h1 New reservation
= form_tag new_reservation_path, method: :get do
  = label_tag "Choose client: "
  = select_tag :client_id, options_from_collection_for_select(Client.all, "id", :full_name, params[:client_id]), include_blank: true, :onchange => 'this.form.submit();'

- if params[:client_id].present?
  - @client = Client.find((params[:client_id]))
  = render 'form_client'

= link_to 'Back', reservations_path