= form_for(@room) do |f|
  - if @room.errors.any?
    #errorExplanation
      %h2
        = pluralize(@room.errors.count, "error")
        prohibited
        this client from being saved:
      %ul
        - @room.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :next_door
    %br/
    = f.text_field :next_door
  .field
    = f.label :floor
    %br/
    = f.text_field :floor
  .field
    = f.label :view_type_id
    %br/
    = f.collection_select :view_type_id, ViewType.all, :id, :name
  .field
    = f.label :room_type_id
    %br/
    = f.collection_select :room_type_id, RoomType.all, :id, :name
  .field
    = f.label :base_rate_id
    %br/
    = f.collection_select :base_rate_id, BaseRate.all, :id, :rate
  .actions
    = f.submit